.zn-plugin-survey-event-submit{
    .submit-error{

    }
    .submit-form{
        .count-info{
            background-color: #f1f1f1;
            text-align: center;
            padding: 5px 0px;
            font-weight: 200;
            font-size: 12px;
            .count{
                font-size: 16px;
                padding: 0px 5px;
                font-weight: bold;
                color: #f0ad4e;
            }
        }
        background-color: #FFF;
        margin: 10px;

        .field-value{
            padding: 5px;

            .field-item{
                border-bottom: 1px solid #F7F6F6;
                line-height: 30px;
                font-size: 12px;
                display: flex;
                flex-direction: row;
                &:last-child{
                    border-bottom-color: transparent;
                }
                .fi-title{
                    width: 120px;
                    font-weight: bold;
                }
                .fi-value{
                    flex: 1;
                    font-weight: 200;
                }
            }
        }
    }
}
